frontend https-in  
  mode tcp
  bind *:443
  
  option socket-stats
  tcp-request inspect-delay 5s
  tcp-request content accept if { req_ssl_hello_type 1 }


{{- range $s, $stack_name := ls "/stacks" -}}
  {{- range $i, $service_name := ls (printf "/stacks/%s/services" $stack_name) -}}
    {{- if exists (printf "/stacks/%s/services/%s/labels/haproxy.enable" $stack_name $service_name) -}}
      {{- $haproxy_enable := getv (printf "/stacks/%s/services/%s/labels/haproxy.enable" $stack_name $service_name) -}}
      {{- if eq $haproxy_enable "true"}}
        {{- range $i2, $container := ls (printf "/stacks/%s/services/%s/containers" $stack_name $service_name) -}}
          {{- $back_status := getv (printf "/stacks/%s/services/%s/containers/%s/health_state" $stack_name $service_name $container) -}}
          {{- if eq $back_status "healthy" }}
            {{- if exists (printf "/stacks/%s/services/%s/labels/haproxy.publish" $stack_name $service_name) -}}
              {{- $haproxy_publish := getv (printf "/stacks/%s/services/%s/labels/haproxy.publish" $stack_name $service_name) -}}
  use_backend {{$service_name}}_{{$stack_name}} if { req_ssl_sni -i {{$haproxy_publish}} }
            {{- end -}}"
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end}}
